# BEGIN ######################## TTCrx ############################################################
NET "ttc_evcntres" LOC = K26;
NET "ttc_bcntres" LOC = K27;
NET "ttc_ready" LOC = D34;
NET "ttc_reset_b" LOC = B34;
NET "ttc_l1accept_p" LOC = F33;
NET "ttc_l1accept_n" LOC = G33;
NET "ttc_saddr[7]" LOC = F31;
NET "ttc_saddr[6]" LOC = E31;
NET "ttc_saddr[5]" LOC = E34;
NET "ttc_saddr[4]" LOC = F34;
NET "ttc_saddr[3]" LOC = J30;
NET "ttc_saddr[2]" LOC = K29;
NET "ttc_saddr[1]" LOC = H34;
NET "ttc_saddr[0]" LOC = H33;
NET "ttc_dout[7]" LOC = D31;
NET "ttc_dout[6]" LOC = D32;
NET "ttc_dout[5]" LOC = K33;
NET "ttc_dout[4]" LOC = J34;
NET "ttc_dout[3]" LOC = G32;
NET "ttc_dout[2]" LOC = H32;
NET "ttc_dout[1]" LOC = L25;
NET "ttc_dout[0]" LOC = L26;
NET "ttc_doutstr" LOC = J31;
# END ######################## TTCrx ############################################################
#NET "ttc_dberrstr" LOC = J29;
#NET "ttc_serial_b" LOC = C34;
#NET "ttc_scl" LOC = F30;
#NET "ttc_sda" LOC = G30;
#NET "ttc_dq[3]" LOC = AE22;
#NET "ttc_dq[2]" LOC = AK9;
#NET "ttc_dq[1]" LOC = AE9;
#NET "ttc_dq[0]" LOC = AD9;
#NET "dq_nor" LOC = K28;
#Created by Constraints Editor (xc6vlx130t-ff1156-1) - 2014/04/03
